<%- include('partials/header') -%>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-credit-card"></span> Checkout</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
<div class="row">
<h2>Select free shipping method</h2>
<select name="shipping" id="ship">
  <option value="">Lani shipping</option>
  <option value="">Dinosaur express</option>
  <option value="">Controller views</option>
</select>
</div>
    <div class="row">
 
          <h3>Your Order</h3>
          <ul class="messages">
          <% for(var i=0; i<cart.length; i++) {%>
            <li class="message">
              <img src="/imgs/<%= cart[i].image %>" alt="">
              <span><%= cart[i].count %></span>
              <span><%= cart[i].title %></span> 
              <span>$<%= cart[i].extension %></span>
            </li>
          <% } %>
          </ul>
          <p class=" bg-dark text-light fs-1">Your total price is:$<%=totalPrice%></p>
          <button class="">Pay using Stripe</button>

</div>
</div>
<%- include('partials/footer') -%>
