<%- include('partials/header') -%>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-credit-card"></span> Fake checkout</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        
        <div class="col-sm-6">
          
          <h3>Your Order</h3>
          <ul class="messages">
          <% for(var i=0; i<cart.length; i++) {%>
            <li class="message">
              <img src="<%= cart[i].src %>" alt="">
              <span><%= cart[i].name %></span> 
              <span><%= cart[i].price %></span>
              <span><%= cart[i].time %></span>
            </li>
          <% } %>
          </ul>
          <p class=" bg-dark text-light fs-1">Your total price is:$<%=totalPrice%></p>
          <button>Pay using Stripe</button>
           
</div>
</div>
</div>
<%- include('partials/footer') -%>
