<%- include('partials/header') -%>
<main>
  <div class="cosmicNavBar">
  <span id="cartSize" class="cosmicCartSize"><%= cartSize %></span>
  <a href="/cart" class="btn btn-primary cosmicMainActionLocation borderRadius10 displayBlock"><i class="fa fa-cart-shopping fontSize18"></i></a>
  <a href="/logout" class="btn btn-secondary cosmicButtonLight cosmicLogoutLocation marginTop10 displayBlock"><i class="fa fa-power-off"></i></a>
</div>
    <div class="">
     <ul class="cosmicProductList">
      <% for(var i=0; i< products.length; i++) {%>
        <li class="cosmicProductListItem">
          <form action="/post/addToCart" method="post">
            <img src="/imgs/<%= products[i].image %>" alt="" class="cosmicProductImage">
            <h4 class="cosmicProductTitle"><%= products[i].title %></h4>
            <h4 class="cosmicProductPrice"><span class="cosmicDollarSign">$</span><%= products[i].price %><span class="cosmicDecimal">00</span></h4>
            <input type="submit" class="btn btn-dark cosmicProductButton" name="submit" value="Add To Cart"></input><input type="hidden" name="title" value="<%= products[i].title %>">
            <input type="hidden" name="price" value="<%= products[i].price %>">
            <input type="hidden" name="img" value="<%= products[i].image %>">
            <input type="hidden" name="productId" value="<%= products[i]._id %>">
          </form>
        </li>
          <% } %>
     </ul>
  </div>
</main>
<%- include('partials/footer') -%>
