<%- include('partials/header') -%>
<div class="container">
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for posters.." title="Type in a name">

        <!-- <ul id="myUL"> -->
          <!-- <% for(var i=0; i<products.length; i++) {%>  -->
           <!-- <li> -->
             <!-- <a><%=products[i].title %></a>  --> 
             <!-- <img src="/imgs/<%=products[i].image %>"></img>  -->
           <!-- </li>  -->
           <!-- <%}%>  -->
         <!-- </ul> -->
    
      <ul row justify-content-center mt-5>
        <a href="/products"><li>🖼️ Products</li></a>
        <% if(cartSize > 0){ %>
        <a href="/cart"><li>🛒 Cart(<%= cartSize %>)</li></a>
        <%} %>
        <a href="/profile"><li>🚧 Main Page</li></a>
  
    </ul>

    <button class="fa fa-toggle-on btn btn-primary" onclick="modeFunction()"></button>
</nav>

<div class="imageDisplay">
  <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="imgs/spaceship.jpg" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="imgs/green.webp" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="imgs/earthy.webp" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</div>

  <div class="row gx-5">
    <h2>Featured Products</h2>
      <ul class="messages">
        <% for(var i=0; i< products.length; i++) {
          if(products[i].featured){ %>
        <form action="/post/addToCart" method="post">
              <li class="message">
                <img src="/imgs/<%= products[i].image %>" alt="">
                <span><%= products[i].title %></span> 
                <span>$<%= products[i].price %></span>
              <input type="submit" class="addToCart" name="submit" value="Add To Cart"></input>
              <input type="hidden" name="title" value="<%= products[i].title %>">
              <input type="hidden" name="price" value="<%= products[i].price %>">
              <input type="hidden" name="img" value="<%= products[i].image %>">
              <input type="hidden" name="productId" value="<%= products[i]._id %>">

             </li>
          </form>
            <% }} %>
      
    </div>
  </div>
 
  <script src="search.js"></script>
<%- include('partials/footer') -%>